<!-- app/views/users/edit.html.erb -->
<h1>Edit User</h1>

<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :username, "Your user name here" %>
    <%= form.text_field :username, placeholder: "Enter your username", value: @user.username %>
  </div>

  <div>
    <%= form.label :email, "Email Address" %>
    <%= form.email_field :email, placeholder: "example@example.com", value: @user.email %>
  </div>

  <div>
    <%= form.label :password, "Password" %>
    <%= form.password_field :password, placeholder: "Enter a secure password" %>
  </div>

  <div>
    <%= form.submit "Update User" %>
  </div>
<% end %>
